.con{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center ;
  min-height: 100vh;
  background: url(../../image/inicio.png)
  no-repeat center center fixed;
  background-size: cover;
}

.btn {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(49, 49, 49);
  font-size: 1.2em;
  width: 12vw;
  height: 5vh;
  margin: 0 1rem;
  cursor: pointer;
  transition: transform 250ms ease;

}


btn:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transform: scale(2.72);
}
