.input_search {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
	padding: 0 0.5rem;
	height: 6vh;
	width: 20vw;
	border-radius: 5px;
}
.btn_search {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
	background-color: black;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	letter-spacing: .1rem;
	font-size: 1.2em;
	width: 8vw;
	height: 7vh;
	padding: 0 0.5rem;
	margin-left: 1rem;
	line-height: 2;
	transition: transform 250ms ease;
}

.btn_search:hover {
	background-color: rgb(22, 22, 22);
    color: rgb(185, 185, 185);
	transform: scale(1.02);
}
